.create-account-page-design-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.create-account-page-design-thq-create-account-page-design-elm {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 89px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 1);
}
 
.create-account-page-design-thq-create-account-form-elm {
  width: 459px;
  height: 857.3790893554688px;
  display: flex;
  position: relative;
  align-self: stretch;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
}
 
.create-account-page-design-thq-container-elm1 {
  gap: 12px;
  top: 152px;
  left: 40px;
  width: 368px;
  height: 84.37911224365234px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.create-account-page-design-thq-heading1-elm {
  width: 368px;
  height: 48px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.create-account-page-design-thq-text-elm1 {
  top: -0.5px;
  left: 53.186309814453125px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Light;
  text-align: center;
  font-family: Inter;
  font-weight: 300;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-account-page-design-thq-paragraph-elm1 {
  width: 368px;
  height: 24.37911033630371px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.create-account-page-design-thq-text-elm2 {
  top: -1.314849853515625px;
  left: 2.6029815673828125px;
  color: rgba(107, 114, 128, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24.38330078125px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-account-page-design-thq-form-elm {
  top: 276.3851318359375px;
  left: 40px;
  width: 368px;
  height: 541px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.create-account-page-design-thq-container-elm2 {
  gap: 8px;
  top: -0.000008652910764794797px;
  left: 0px;
  width: 368px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.create-account-page-design-thq-label-elm1 {
  width: 368px;
  height: 21px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.create-account-page-design-thq-text-elm3 {
  top: -0.25000864267349243px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-account-page-design-thq-email-input-elm {
  color: rgba(156, 163, 175, 1);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(46, 46, 46, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.create-account-page-design-thq-container-elm3 {
  gap: 8px;
  top: 98.99999237060547px;
  left: 0px;
  width: 368px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.create-account-page-design-thq-label-elm2 {
  width: 368px;
  height: 21px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.create-account-page-design-thq-text-elm4 {
  top: -0.25000864267349243px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-account-page-design-thq-text-input-elm {
  color: rgba(156, 163, 175, 1);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(46, 46, 46, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.create-account-page-design-thq-container-elm4 {
  gap: 8px;
  top: 197.99998474121094px;
  left: 0px;
  width: 368px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.create-account-page-design-thq-label-elm3 {
  width: 368px;
  height: 21px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.create-account-page-design-thq-text-elm5 {
  top: -0.25000864267349243px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-account-page-design-thq-password-input-elm1 {
  color: rgba(156, 163, 175, 1);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(46, 46, 46, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.create-account-page-design-thq-container-elm5 {
  gap: 8px;
  top: 297px;
  left: 0px;
  width: 368px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.create-account-page-design-thq-label-elm4 {
  width: 368px;
  height: 21px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.create-account-page-design-thq-text-elm6 {
  top: -0.24997813999652863px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-account-page-design-thq-password-input-elm2 {
  color: rgba(156, 163, 175, 1);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(46, 46, 46, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.create-account-page-design-thq-button-elm {
  top: 424px;
  left: 0px;
  width: 368px;
  height: 52px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(109, 190, 139, 1);
}
 
.create-account-page-design-thq-text-elm7 {
  top: 13.250021934509277px;
  left: 122.70297241210938px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-account-page-design-thq-paragraph-elm2 {
  top: 520px;
  left: 0px;
  width: 368px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.create-account-page-design-thq-text-elm8 {
  top: -0.24997813999652863px;
  left: 76.0863037109375px;
  color: rgba(107, 114, 128, 1);
  width: 175px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-account-page-design-thq-link-elm {
  top: -0.3851318359375px;
  left: 251px;
  width: 56px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.create-account-page-design-thq-text-elm9 {
  color: rgba(249, 199, 132, 1);
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-account-page-design-thq-screenshot20260112at33925pm1-elm {
  top: 77px;
  left: 186px;
  width: 75px;
  height: 75px;
  position: absolute;
}
 
.create-account-page-design-link {
  display: contents;
}
 
.create-account-page-design-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.create-account-page-design-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.create-account-page-design-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
