.leaderboard-page-design-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.leaderboard-page-design-thq-leaderboard-page-design-elm {
  width: 100%;
  height: 882px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(250, 250, 250, 1);
}
 
.leaderboard-page-design-thq-app-elm {
  top: 0px;
  left: 0px;
  width: 936px;
  height: 882px;
  display: flex;
  padding: 41px 0 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 1);
}
 
.leaderboard-page-design-thq-container-elm10 {
  height: 76px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.leaderboard-page-design-thq-heading1-elm {
  width: 936px;
  height: 48px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.leaderboard-page-design-thq-text-elm10 {
  top: -0.5px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-paragraph-elm {
  width: 936px;
  height: 28px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.leaderboard-page-design-thq-text-elm11 {
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-leaderboard-elm {
  height: 765px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.leaderboard-page-design-thq-container-elm11 {
  gap: 11.997441291809082px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-button-elm1 {
  width: 79.98470306396484px;
  height: 24px;
  display: flex;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm12 {
  top: -0.75px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-button-elm2 {
  width: 61.78468704223633px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
}
 
.leaderboard-page-design-thq-text-elm13 {
  top: -0.75px;
  left: -0.000001759325073180662px;
  color: rgba(156, 163, 175, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm12 {
  height: 741px;
  display: flex;
  align-self: stretch;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05999999865889549) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16.399999618530273px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.leaderboard-page-design-thq-container-elm13 {
  width: 936px;
  height: 21px;
  display: flex;
  padding: 0 0 1px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  border-width: 0 0 1px;
}
 
.leaderboard-page-design-thq-container-elm14 {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm14 {
  top: 0.25px;
  color: rgba(105, 114, 130, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm15 {
  top: 0px;
  left: 80px;
  width: 376px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm15 {
  top: 0.25px;
  color: rgba(105, 114, 130, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm16 {
  top: 0px;
  left: 480px;
  width: 216px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm16 {
  top: 0.25px;
  left: 91.91546630859375px;
  color: rgba(105, 114, 130, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm17 {
  top: 0px;
  left: 720px;
  width: 216px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm17 {
  top: 0.25px;
  left: 147.382080078125px;
  color: rgba(105, 114, 130, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm18 {
  height: 720px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.leaderboard-page-design-thq-container-elm19 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(254, 249, 240, 1);
}
 
.leaderboard-page-design-thq-container-elm20 {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-icon-elm1 {
  width: 24px;
  height: 24px;
}
 
.leaderboard-page-design-thq-container-elm21 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 149px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm22 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm18 {
  width: 93.0846939086914px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm19 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm20 {
  top: 22px;
  left: 639.43212890625px;
  width: 57px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm21 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm22 {
  top: 24px;
  left: 916.365478515625px;
  width: 20px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm23 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm23 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(254, 249, 240, 1);
}
 
.leaderboard-page-design-thq-container-elm24 {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-icon-elm2 {
  width: 24px;
  height: 24px;
}
 
.leaderboard-page-design-thq-container-elm25 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 158px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm26 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm24 {
  width: 102.36803436279297px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm25 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm26 {
  top: 22px;
  left: 638.3988037109375px;
  width: 58px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm27 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm28 {
  top: 24px;
  left: 915.882080078125px;
  width: 20px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm29 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm27 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(254, 249, 240, 1);
}
 
.leaderboard-page-design-thq-container-elm28 {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 72px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-icon-elm3 {
  width: 24px;
  height: 24px;
}
 
.leaderboard-page-design-thq-container-elm29 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 142px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm30 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm30 {
  width: 86.35137176513672px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm31 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm32 {
  top: 22px;
  left: 644.0820922851562px;
  width: 52px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm33 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm34 {
  top: 24px;
  left: 916.3154296875px;
  width: 20px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm35 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm31 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
 
.leaderboard-page-design-thq-text-elm36 {
  top: 22px;
  left: 0px;
  width: 12px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm32 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 153px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm33 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm37 {
  width: 96.66803741455078px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm38 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm39 {
  top: 22px;
  left: 642.8988037109375px;
  width: 53px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm40 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm41 {
  top: 24px;
  left: 919.3320922851562px;
  width: 17px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm42 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm34 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 1);
}
 
.leaderboard-page-design-thq-text-elm43 {
  top: 22px;
  left: 0px;
  width: 11px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm35 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 134px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm36 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm44 {
  width: 78.35137176513672px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm45 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm46 {
  top: 22px;
  left: 645.3487548828125px;
  width: 51px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm47 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm48 {
  top: 24px;
  left: 916.0654296875px;
  width: 20px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm49 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm37 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
 
.leaderboard-page-design-thq-text-elm50 {
  top: 22px;
  left: 0px;
  width: 12px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm38 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 164px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm39 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm51 {
  width: 107.66803741455078px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm52 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm53 {
  top: 22px;
  left: 643.43212890625px;
  width: 53px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm54 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm55 {
  top: 24px;
  left: 916.4821166992188px;
  width: 20px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm56 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm40 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 1);
}
 
.leaderboard-page-design-thq-text-elm57 {
  top: 22px;
  left: 0px;
  width: 10px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm41 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 154px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm42 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm58 {
  width: 98.18470001220703px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm59 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm60 {
  top: 22px;
  left: 642.4154663085938px;
  width: 54px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm61 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm62 {
  top: 24px;
  left: 916.2654418945312px;
  width: 20px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm63 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm43 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
 
.leaderboard-page-design-thq-text-elm64 {
  top: 22px;
  left: 0px;
  width: 12px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm44 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 146px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm45 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm65 {
  width: 89.98470306396484px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm66 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm67 {
  top: 22px;
  left: 642.2987670898438px;
  width: 54px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm68 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm69 {
  top: 24px;
  left: 915.7987670898438px;
  width: 20px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm70 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm46 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 1);
}
 
.leaderboard-page-design-thq-text-elm71 {
  top: 22px;
  left: 0px;
  width: 12px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm47 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 142px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm48 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm72 {
  width: 85.81803131103516px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm73 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm74 {
  top: 22px;
  left: 643.0820922851562px;
  width: 53px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm75 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm76 {
  top: 24px;
  left: 919.2987670898438px;
  width: 17px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm77 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm49 {
  width: 936px;
  height: 72px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
 
.leaderboard-page-design-thq-text-elm78 {
  top: 22px;
  left: 0px;
  width: 19px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm79 {
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm50 {
  gap: 12px;
  top: 14px;
  left: 80px;
  width: 177px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm51 {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm80 {
  width: 120.98470306396484px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm81 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm82 {
  top: 22px;
  left: 657.1987915039062px;
  width: 39px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm83 {
  top: -0.25px;
  left: -0.00002464750832587015px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm84 {
  top: 24px;
  left: 919.2821044921875px;
  width: 17px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm85 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(73, 85, 101, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-header-elm {
  top: 0px;
  left: 0px;
  width: 936px;
  height: 41px;
  display: flex;
  padding: 0 0 1px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
 
.leaderboard-page-design-thq-container-elm52 {
  gap: 480.2474060058594px;
  top: 0px;
  left: 0px;
  width: 936px;
  height: 40px;
  display: flex;
  padding: 0 -0.00013590666640084237px 0 0;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.leaderboard-page-design-thq-container-elm53 {
  gap: 12px;
  width: 167.1013641357422px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm54 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0 0.01769222877919674px 0 0;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm86 {
  width: 28.351367950439453px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm87 {
  top: -0.25px;
  left: 1.4802353121012857e-7px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-text-elm88 {
  width: 115.10137176513672px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm89 {
  top: -0.25px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-container-elm55 {
  gap: 16px;
  width: 288.6513671875px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-container-elm56 {
  width: 90.75px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-text-elm90 {
  top: -0.75px;
  left: -0.00002464750832587015px;
  color: rgba(255, 255, 255, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-button-elm3 {
  width: 125.90135955810547px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  background-color: rgba(249, 199, 132, 1);
}
 
.leaderboard-page-design-thq-icon-elm4 {
  top: 2px;
  left: -0.00002464750832587015px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.leaderboard-page-design-thq-text-elm91 {
  top: -0.75px;
  left: 29.999975204467773px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-button-elm4 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.leaderboard-page-design-thq-icon-elm5 {
  width: 20px;
  height: 20px;
}
 
.leaderboard-page-design-thq-navigation-elm {
  gap: 31.998653411865234px;
  top: 7px;
  left: 349.8321228027344px;
  width: 236px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-link-elm1 {
  width: 106.40137481689453px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.leaderboard-page-design-thq-text-elm92 {
  top: -0.75px;
  left: 0.0000058700693443825px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-thq-link-elm2 {
  width: 97.95136260986328px;
  height: 26px;
  display: flex;
  padding: 0 0 2px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(109, 190, 139, 1);
  border-style: solid;
  border-width: 0 0 2px;
}
 
.leaderboard-page-design-thq-text-elm93 {
  top: -0.75px;
  left: 0.0000058700693443825px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.leaderboard-page-design-link {
  display: contents;
}
 
.leaderboard-page-design-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.leaderboard-page-design-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.leaderboard-page-design-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
