.sign-in-page-design-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.sign-in-page-design-thq-sign-in-page-design-elm {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(250, 250, 250, 1);
}
 
.sign-in-page-design-thq-container-elm1 {
  width: 440px;
  height: 642.5px;
  display: flex;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16.399999618530273px;
  background-color: rgba(255, 255, 255, 1);
}
 
.sign-in-page-design-thq-heading1-elm {
  top: 144px;
  left: 48px;
  width: 344px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.sign-in-page-design-thq-text-elm1 {
  left: 122.85446166992188px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
 
.sign-in-page-design-thq-paragraph-elm1 {
  top: 204px;
  left: 48px;
  width: 344px;
  height: 22.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.sign-in-page-design-thq-text-elm2 {
  top: -1px;
  left: 26.53778076171875px;
  color: rgba(107, 107, 107, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 22.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.sign-in-page-design-thq-form-elm {
  top: 258.5px;
  left: 48px;
  width: 344px;
  height: 291px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.sign-in-page-design-thq-container-elm2 {
  gap: 8px;
  top: 0px;
  left: 0px;
  width: 344px;
  height: 77.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-in-page-design-thq-label-elm1 {
  width: 344px;
  height: 21px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.sign-in-page-design-thq-text-elm3 {
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.sign-in-page-design-thq-email-input-elm {
  color: rgba(155, 155, 155, 1);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 15px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(209, 209, 209, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
 
.sign-in-page-design-thq-container-elm3 {
  gap: 8px;
  top: 97.5px;
  left: 0px;
  width: 344px;
  height: 77.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.sign-in-page-design-thq-label-elm2 {
  width: 344px;
  height: 21px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.sign-in-page-design-thq-text-elm4 {
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.sign-in-page-design-thq-password-input-elm {
  color: rgba(155, 155, 155, 1);
  display: flex;
  padding: 12px 16px;
  overflow: hidden;
  font-size: 15px;
  align-self: stretch;
  text-align: left;
  align-items: center;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 400;
  border-color: rgba(209, 209, 209, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
 
.sign-in-page-design-thq-link-elm1 {
  top: 199px;
  left: 225.93780517578125px;
  width: 118px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.sign-in-page-design-thq-text-elm5 {
  color: rgba(249, 199, 132, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.sign-in-page-design-thq-button-elm {
  top: 239px;
  left: 0px;
  width: 344px;
  height: 52px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(109, 190, 139, 1);
}
 
.sign-in-page-design-thq-text-elm6 {
  top: 13.5px;
  left: 146.054443359375px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.sign-in-page-design-thq-paragraph-elm2 {
  top: 573.5px;
  left: 48px;
  width: 344px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.sign-in-page-design-thq-text-elm7 {
  left: 57.921112060546875px;
  color: rgba(107, 107, 107, 1);
  width: 156px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.sign-in-page-design-thq-link-elm2 {
  top: 575.25px;
  left: 262px;
  width: 73px;
  height: 17px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.sign-in-page-design-thq-text-elm8 {
  color: rgba(249, 199, 132, 1);
  width: 85px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 21px;
  font-stretch: normal;
  text-decoration: none;
}
 
.sign-in-page-design-thq-screenshot20260112at33925pm1-elm {
  top: 70.25px;
  left: 183px;
  width: 74px;
  height: 74px;
  position: absolute;
}
 
.sign-in-page-design-link {
  display: contents;
}
 
.sign-in-page-design-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.sign-in-page-design-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.sign-in-page-design-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
