.upload-notes-page-design-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.upload-notes-page-design-thq-upload-notes-page-design-elm {
  width: 100%;
  height: 785px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(250, 250, 250, 1);
}
 
.upload-notes-page-design-thq-app-elm1 {
  top: 0px;
  left: 0px;
  width: 1271px;
  height: 785px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(250, 250, 250, 1);
}
 
.upload-notes-page-design-thq-navigation-elm1 {
  top: 0px;
  left: 0px;
  width: 1271px;
  height: 77px;
  display: flex;
  padding: 0 0 1px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  border-width: 0 0 1px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.upload-notes-page-design-thq-container-elm10 {
  gap: 222.43775939941406px;
  display: flex;
  padding: 0 32.00472640991211px 0 32px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.upload-notes-page-design-thq-container-elm11 {
  gap: 12px;
  width: 168.1787567138672px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-container-elm12 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: 0 0.004879332147538662px 0 0;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.upload-notes-page-design-thq-screenshot20260112at33925pm1-elm {
  width: 70px;
  height: 70px;
}
 
.upload-notes-page-design-thq-heading1-elm {
  width: 116.17876434326172px;
  height: 28px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm10 {
  top: -0.25px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-navigation-elm2 {
  gap: 32.00455856323242px;
  width: 234.41209411621094px;
  height: 28px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-link-elm1 {
  width: 105.41210174560547px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm11 {
  top: -0.75px;
  left: 8.09476489394001e-7px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-link-elm2 {
  width: 97px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm12 {
  top: -0.75px;
  left: -0.000029708102374570444px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-container-elm13 {
  gap: 16px;
  width: 359.5120849609375px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-container-elm14 {
  width: 120.25px;
  height: 44px;
  display: flex;
  padding: 12.25px 20px 0;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  flex-direction: column;
  background-color: rgba(109, 190, 139, 1);
}
 
.upload-notes-page-design-thq-text-elm13 {
  width: 80.25px;
  height: 19.5px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm14 {
  top: -0.25px;
  left: -9.483154296875px;
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-button-elm1 {
  gap: 8px;
  width: 167.2620849609375px;
  height: 44px;
  display: flex;
  padding: 0 0 0 24.00006103515625px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  background-color: rgba(249, 199, 132, 1);
}
 
.upload-notes-page-design-thq-icon-elm1 {
  width: 16px;
  height: 16px;
}
 
.upload-notes-page-design-thq-text-elm15 {
  width: 95.26209259033203px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm16 {
  top: -0.75px;
  left: 0.000031327053875429556px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-button-elm2 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.upload-notes-page-design-thq-icon-elm2 {
  width: 20px;
  height: 20px;
}
 
.upload-notes-page-design-thq-main-content-elm {
  top: 125px;
  left: 32px;
  width: 1207px;
  height: 612px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-container-elm15 {
  top: 0px;
  left: 0px;
  width: 794px;
  height: 612px;
  display: flex;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16.399999618530273px;
  background-color: rgba(255, 255, 255, 1);
}
 
.upload-notes-page-design-thq-heading2-elm {
  top: 32px;
  left: 32px;
  width: 730px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm17 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-paragraph-elm10 {
  top: 72px;
  left: 32px;
  width: 730px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm18 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-container-elm16 {
  gap: 16px;
  top: 128px;
  left: 32px;
  width: 730px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-container-elm17 {
  gap: 12px;
  height: 40px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-container-elm18 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.upload-notes-page-design-thq-container-elm19 {
  width: 277px;
  display: flex;
  padding: 0 277px 0 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(229, 231, 235, 1);
}
 
.upload-notes-page-design-thq-container-elm20 {
  width: 1px;
  height: 4px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 4px;
}
 
.upload-notes-page-design-thq-container-elm21 {
  gap: 12px;
  height: 40px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-container-elm22 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(229, 231, 235, 1);
}
 
.upload-notes-page-design-thq-container-elm23 {
  width: 277px;
  display: flex;
  padding: 0 277px 0 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(229, 231, 235, 1);
}
 
.upload-notes-page-design-thq-container-elm24 {
  width: 1px;
  height: 4px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 4px;
}
 
.upload-notes-page-design-thq-container-elm25 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(229, 231, 235, 1);
}
 
.upload-notes-page-design-thq-container-elm26 {
  top: 216px;
  left: 32px;
  width: 730px;
  height: 364px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-heading3-elm1 {
  top: 0px;
  left: 0px;
  width: 730px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm19 {
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-container-elm27 {
  top: 44px;
  left: 0px;
  width: 730px;
  height: 248px;
  display: flex;
  padding: 2px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(208, 213, 219, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 16.399999618530273px;
}
 
.upload-notes-page-design-thq-icon-elm3 {
  top: 50px;
  left: 341px;
  width: 48px;
  height: 48px;
  position: absolute;
}
 
.upload-notes-page-design-thq-paragraph-elm11 {
  top: 114px;
  left: 50px;
  width: 630px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm20 {
  top: -0.75px;
  left: 205.41653442382812px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-paragraph-elm12 {
  top: 146px;
  left: 50px;
  width: 630px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm21 {
  top: 0.25px;
  left: 256.25px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-paragraph-elm13 {
  top: 182px;
  left: 50px;
  width: 630px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-text-elm22 {
  top: 0.5px;
  left: 180.03317260742188px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-button-elm3 {
  top: 316px;
  left: 612.8164672851562px;
  width: 117px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(109, 190, 139, 1);
}
 
.upload-notes-page-design-thq-text-elm23 {
  top: 11.25px;
  left: 23.999969482421875px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-container-elm28 {
  top: 0px;
  left: 826px;
  width: 381px;
  height: 612px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-app-elm2 {
  gap: 16px;
  top: 125px;
  left: 858px;
  width: 381px;
  height: 485px;
  display: flex;
  padding: 24px 24px 0;
  position: absolute;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16.399999618530273px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.upload-notes-page-design-thq-heading3-elm2 {
  width: 333px;
  height: 28px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm24 {
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-container-elm29 {
  gap: 16px;
  height: 216px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.upload-notes-page-design-thq-container-elm30 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-container-elm31 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 1);
}
 
.upload-notes-page-design-thq-icon-elm4 {
  width: 16px;
  height: 16px;
}
 
.upload-notes-page-design-thq-container-elm32 {
  gap: 4px;
  width: 289px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.upload-notes-page-design-thq-heading4-elm1 {
  width: 289px;
  height: 24px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm25 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-paragraph-elm14 {
  width: 289px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm26 {
  top: 0.25px;
  color: rgba(46, 46, 46, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-container-elm33 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-container-elm34 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(249, 199, 132, 1);
}
 
.upload-notes-page-design-thq-icon-elm5 {
  width: 16px;
  height: 16px;
}
 
.upload-notes-page-design-thq-container-elm35 {
  gap: 4px;
  width: 284.17877197265625px;
  height: 48px;
  display: flex;
  padding: 0 -1.1368683772161603e-13px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.upload-notes-page-design-thq-heading4-elm2 {
  width: 284.17877197265625px;
  height: 24px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm27 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-paragraph-elm15 {
  width: 284.17877197265625px;
  height: 20px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm28 {
  top: 0.25px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-container-elm36 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.upload-notes-page-design-thq-container-elm37 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3.402820018375656e+38px;
  justify-content: center;
  background-color: rgba(109, 190, 139, 0.20000000298023224);
}
 
.upload-notes-page-design-thq-icon-elm6 {
  width: 16px;
  height: 16px;
}
 
.upload-notes-page-design-thq-container-elm38 {
  gap: 4px;
  width: 289px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.upload-notes-page-design-thq-heading4-elm3 {
  width: 289px;
  height: 24px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm29 {
  top: -0.75px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-paragraph-elm16 {
  width: 289px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm30 {
  top: 0.25px;
  color: rgba(46, 46, 46, 1);
  width: 256px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-container-elm39 {
  gap: 12px;
  height: 153px;
  display: flex;
  padding: 25px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 231, 235, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.upload-notes-page-design-thq-paragraph-elm17 {
  width: 333px;
  height: 40px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm31 {
  top: 0.25px;
  color: rgba(46, 46, 46, 1);
  width: 321px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-container-elm40 {
  gap: 4px;
  height: 76px;
  display: flex;
  padding: 12px 12px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(109, 190, 139, 0.10000000149011612);
}
 
.upload-notes-page-design-thq-paragraph-elm18 {
  width: 309px;
  height: 16px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm32 {
  top: 0.5px;
  left: 94.06646728515625px;
  color: rgba(46, 46, 46, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-thq-paragraph-elm19 {
  width: 309px;
  height: 32px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
 
.upload-notes-page-design-thq-text-elm33 {
  top: -0.75px;
  left: 87.25px;
  color: rgba(109, 190, 139, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.upload-notes-page-design-link {
  display: contents;
}
 
.upload-notes-page-design-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.upload-notes-page-design-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.upload-notes-page-design-text {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
